<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="nave">
        <nav>
            <a style= "text-decoration: none;" href="/home"> Home </a>
            <a style= "text-decoration: none;" href="/about"> About</a>
            <a style= "text-decoration: none;" href="/works"> Works </a>
            <a style= "text-decoration: none;" href="/gallery"> Gallery </a>
        </nav> 
    </div>
    <div class="image">
    <img class= "img" src="/Images/DJI_0384.jpeg" alt="img">
    </div>


   <div class="boxes">

   <a class = "left">Sulawesi, also known as Celebes, is 
    one of the four Greater Sunda 
    Islands and it is governed by Indonesia. 
    The world's eleventh-largest island, 
    is situated in the east of Borneo,  
    west of the Maluku Islands, and south 
    of Mindanao and the Sulu Archipelago. 
</a>

   <a class = "right"> Sulawesi island was recently the subject 
    of an Ecoregional Conservation Assessment, 
    coordinated by The Nature Conservancy. </a>
    </div>

    <br>
    <br>
    <br>
<div class = "images">
    <img class="map" src="/Images/centralsulawesi46.gif" alt="map">
    <img class="map1" src="/Images/sulawesi14.gif" alt="map">
</div>

<br>
<br>


<h3> "Tong Kosong Nyaring Bunyinya" </h3>
    <div class="Tong"> An empty drum makes the loudest sound.
</div>
<p class="ind"> Indonesian proverb </p>




</body>
</html>