<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Gallery</title>
</head>
<body class="gallery">

    <div class="nave">
    <nav>
        <a style= "text-decoration: none;" href="/home"> Home </a>
        <a style= "text-decoration: none;" href="/about"> About</a>
        <a style= "text-decoration: none;" href="/works"> Works </a>
        <a style= "text-decoration: none;" href="/gallery"> Gallery </a>
    </nav>
    </div>

    <h2 class="h23">Bukit Kasih: Stone Faces & Volcanic Area</h2>

    <div class="images2">
        <img class= "img11" src="/Images/DSCF1933-2.jpeg" alt="img">
        <img class= "img2" src="/Images/DSCF1974-2.jpeg" alt="img">
    </div>
        <div class="images3">
        <img class= "img3" src="/Images/DSCF1983.jpeg" alt="img">
        <img class= "img4" src="/Images/DSCF2008.jpeg" alt="img">
    </div>
        <div class="images4">
        <img class= "img5" src="/Images/DSCF8466.jpeg" alt="img">
        <img class= "img6" src="/Images/DSCF8505-2.jpeg" alt="img">
    </div>

</body>
</html>