<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="nave">
        <nav>
            <a style= "text-decoration: none;" href="/home"> Home </a>
            <a style= "text-decoration: none;" href="/about"> About</a>
            <a style= "text-decoration: none;" href="/works"> Works </a>
            <a style= "text-decoration: none;" href="/gallery"> Gallery </a>
        </nav>
        </div>
        <h2 class="h22">The Indonesian Island of Sulawesi is an Evolutionary Puzzle</h2>

        <div class="image1">
            <img class= "img" src="/Images/DSCF1670-2.jpeg" alt="img">
            </div>

       <br>
       <br>
            <a class = "sub"> Caves and ancient artifacts in this South Pacific hotspot for archeology could hold secrets about early human origins and expansion. </a>

     <a class = "txts"> Sprawled across three different continental plates and contorted like an odd starfish, Indonesia’s Sulawesi island is home to 
        a bewildering range of creatures — including more than 100 mammals found nowhere else on Earth. As the world’s 11th largest island, it also seems 
        to have played a central role in humanity’s journey across the planet. <br>
        <br>
        <br>
        More than 45,000 years ago, people were making art here. Mysterious stone tools have been found in sediments dating back around 200,000 years. 
        And the island was, more than likely, a key stepping stone in human expansion to Australia. </a>
</body>
</html>